.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5) !important;
}

.navigation-bar {
  position: relative;
  -webkit-box-shadow: 0px -7px 16px rgba(0, 0, 0, 0.24);
          box-shadow: 0px -7px 16px rgba(0, 0, 0, 0.24);
  padding: 10px 0px;
  z-index: 99;
  background: #ffffff;
}

.about-section {
  height: calc(100vh - 80px);
  position: relative;
}

.title-heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #003466;
  margin-bottom: 20px;
}

.about-info {
  position: absolute;
  top: 40%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 500px;
  left: 150px;
}

.about-info p {
  font-size: 16px;
  line-height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #545454;
  margin-bottom: 20px;
}

.about-info .btn {
  padding: 15px 20px;
}

.btn {
  padding: 15px 20px;
}

.about-header-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 50%;
}

.member-container {
  width: 80%;
  max-width: 350px;
  margin: auto;
  border: 2px solid #d2d2d2;
  position: relative;
  padding: 30px;
  padding-top: 100px;
  text-align: center;
  margin-top: 50px;
  min-height: 280px;
}

.member-container .circle-profle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: -75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffffff;
  overflow: hidden;
}

.member-container .circle-profle img {
  width: 100%;
}

.member-container p {
  font-size: 12px;
}

.member-container .designation {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 47px;
  color: #003466;
  margin-bottom: 10px;
}

.our-partners .logo-1 img, .our-partners .logo-2 img, .our-partners .logo-3 img, .our-partners .logo-4 img, .our-partners .logo-5 img {
  max-width: 200px;
  margin-bottom: 50px;
}

.our-partners .logo-1 {
  text-align: right;
}

.our-partners .logo-2 {
  text-align: center;
}

.our-partners .logo-3 {
  text-align: left;
}

.our-partners .logo-4 {
  text-align: right;
  padding-right: 60px;
}

.our-partners .logo-5 {
  text-align: left;
  padding-left: 60px;
}

@media (max-width: 1200px) {
  .about-header-img {
    max-width: 40%;
  }
}

@media (max-width: 992px) {
  .about-header-img {
    max-width: 500px;
    right: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about-section {
    height: 800px;
  }
  .about-info {
    top: 180px;
  }
}

@media (max-width: 768px) {
  .about-info {
    left: 50%;
    width: 90%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 90px;
  }
  .about-info .title-heading {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .about-info p {
    font-size: 12px;
  }
  .about-info .about-info .btn {
    padding: 10px 15px;
  }
  .about-header-img {
    max-width: 80%;
    right: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about-section {
    height: 900px;
  }
  .our-partners .logo-1 img, .our-partners .logo-2 img, .our-partners .logo-3 img, .our-partners .logo-4 img, .our-partners .logo-5 img {
    width: 100px;
  }
  .our-partners .col-6.logo-5 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
  }
  .our-partners .col-6.logo-5 img {
    width: 50px;
  }
}

@media (max-width: 576px) {
  .our-partners .logo-1, .our-partners .logo-2, .our-partners .logo-3, .our-partners .logo-4, .our-partners .logo-5 {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .about-section {
    height: 800px;
  }
  .title-heading {
    font-size: 23px;
  }
  .btn {
    padding: 10px 15px !important;
    font-size: 12px !important;
  }
}

.career-info-container {
  position: relative;
  height: calc(100vh - 80px);
  background-image: url("../image/img-bg.svg");
  background-size: cover;
}

.career-info-container .career-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  max-width: 800px;
}

.career-info-container .career-info p {
  font-size: 16px;
  line-height: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #545454;
  margin-bottom: 20px;
}

.form-info-container {
  width: auto;
  max-width: 900px;
  height: 1272px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  padding: 50px 10%;
}

.form-info-container .title-heading {
  font-weight: 400;
  text-align: center;
}

.form-info-container ::-webkit-input-placeholder {
  color: #cecece;
}

.form-info-container :-ms-input-placeholder {
  color: #cecece;
}

.form-info-container ::-ms-input-placeholder {
  color: #cecece;
}

.form-info-container ::placeholder {
  color: #cecece;
}

.form-info-container form .form-row, .form-info-container form .form-group {
  margin-bottom: 30px;
}

.form-info-container form input {
  height: 50px;
}

.form-info-container form label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #003466;
  margin-bottom: 15px;
  opacity: .6;
}

@media (max-width: 992px) {
  .form-info-container {
    height: auto !important;
    padding: 20px 10% !important;
  }
  .form-info-container form .form-row, .form-info-container form .form-group {
    margin-bottom: 20px !important;
  }
  .career-info-container .career-info {
    position: inherit;
    -webkit-transform: inherit;
            transform: inherit;
    text-align: left;
    max-width: 800px;
  }
  .career-info-container {
    position: relative;
    height: auto;
  }
}

/******************* Timeline  *****************/
.main-timeline5 {
  overflow: hidden;
  position: relative;
}

.main-timeline5 .timeline {
  position: relative;
  margin-top: -79px;
}

.main-timeline5 .timeline:first-child {
  margin-top: 0;
}

.main-timeline5 .timeline-icon, .main-timeline5 .year {
  margin: auto;
  position: absolute;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline5 .timeline:after, .main-timeline5 .timeline:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline5 .timeline:before {
  content: "";
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.main-timeline5 .timeline-icon {
  width: 210px;
  height: 210px;
  border-radius: 49%;
  border: 25px solid transparent;
  border-top-color: #013668;
  border-right-color: #013668;
  z-index: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-timeline5 .year {
  display: block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  font-weight: 700;
  color: #013668;
  text-align: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-timeline5 .timeline-content {
  width: 35%;
  float: right;
  background: #013668;
  padding: 30px 20px;
  margin: 50px 0;
  z-index: 1;
  position: relative;
}

.main-timeline5 .timeline-content:before {
  content: "";
  width: 20%;
  height: 15px;
  background: #013668;
  position: absolute;
  top: 50%;
  left: -20%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-timeline5 .title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 10px;
}

.main-timeline5 .description {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  margin: 0;
}

.main-timeline5 .timeline:nth-child(2n):before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-timeline5 .timeline:nth-child(2n) .timeline-icon {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-top-color: #013668;
  border-right-color: #013668;
}

.main-timeline5 .timeline:nth-child(2n) .year {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  color: #013668;
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content {
  float: left;
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
  left: auto;
  right: -20%;
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content, .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
  background: #013668;
}

.main-timeline5 .timeline:nth-child(3n) .timeline-icon {
  border-top-color: #013668;
  border-right-color: #013668;
}

.main-timeline5 .timeline:nth-child(3n) .year {
  color: #013668;
}

.main-timeline5 .timeline:nth-child(3n) .timeline-content, .main-timeline5 .timeline:nth-child(3n) .timeline-content:before {
  background: #013668;
}

.main-timeline5 .timeline:nth-child(4n) .timeline-icon {
  border-top-color: #013668;
  border-right-color: #013668;
}

.main-timeline5 .timeline:nth-child(4n) .year {
  color: #013668;
}

.main-timeline5 .timeline:nth-child(4n) .timeline-content, .main-timeline5 .timeline:nth-child(4n) .timeline-content:before {
  background: #013668;
}

@media only screen and (max-width: 1199px) {
  .main-timeline5 .timeline {
    margin-top: -103px;
  }
  .main-timeline5 .timeline-content:before {
    left: -18%;
  }
  .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
    right: -18%;
  }
}

@media only screen and (max-width: 992px) {
  .main-timeline5 {
    padding: 0 30px;
  }
  .main-timeline5 .timeline {
    margin-top: 0;
    overflow: hidden;
  }
  .main-timeline5 .timeline:before, .main-timeline5 .timeline:nth-child(2n):before {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-timeline5 .timeline-icon, .main-timeline5 .timeline:nth-child(2n) .timeline-icon {
    margin-top: -30px;
    margin-bottom: 20px;
    position: relative;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    width: 190px;
    height: 190px;
  }
  .main-timeline5 .timeline:nth-child(2n) .year, .main-timeline5 .year {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .main-timeline5 .year {
    width: 90px;
    height: 90px;
    font-size: 20px;
    line-height: 90px;
  }
  .main-timeline5 .title {
    font-size: 16px;
  }
  .main-timeline5 .description {
    font-size: 11px;
  }
  .main-timeline5 .timeline-content, .main-timeline5 .timeline:nth-child(2n) .timeline-content {
    width: 100%;
    float: none;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 25px 20px;
    margin: 0 auto;
  }
  .main-timeline5 .timeline-content:before, .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
    width: 15px;
    height: 25px;
    position: absolute;
    top: -22px;
    left: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (min-width: 992px) {
  .main-timeline5 .timeline-content.content-1 {
    margin: 20px 0 !important;
  }
  .main-timeline5 .timeline-content.content-2 {
    margin: 31px 0 !important;
  }
  .main-timeline5 .timeline-content.content-3 {
    margin: -3px 0 !important;
  }
  .main-timeline5 .timeline-content.content-4 {
    margin: 31px 0 !important;
  }
}

@media (min-width: 1200px) {
  .main-timeline5 .timeline-content.content-1 {
    margin: 32px 0 !important;
  }
  .main-timeline5 .timeline-content.content-2 {
    margin: 32px 0 !important;
  }
  .main-timeline5 .timeline-content.content-3 {
    margin: 8px 0 !important;
  }
  .main-timeline5 .timeline-content.content-4 {
    margin: 20px 0 !important;
  }
}
/*# sourceMappingURL=comon.css.map */